<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569104882171-c7cfk4d6pd56bft0cf8liha1c6lesboe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569104882171-c7cfk4d6pd56bft0cf8liha1c6lesboe</string>
	<key>API_KEY</key>
	<string>AIzaSyAapPved-xqq6T5FwXp1ZoFW_HdXuanxok</string>
	<key>GCM_SENDER_ID</key>
	<string>569104882171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azurehorsecreations.Whatsit</string>
	<key>PROJECT_ID</key>
	<string>whatizit</string>
	<key>STORAGE_BUCKET</key>
	<string>whatizit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569104882171:ios:47b145f0afba759f7c935e</string>
	<key>DATABASE_URL</key>
	<string>https://whatizit.firebaseio.com</string>
</dict>
</plist>